:root{
    background-color: rgb(240, 248, 255);
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 4px;
}
body{margin: 0;}
.Main-Container{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
.topNav{
    width: 100%;
    box-shadow:4px 4px 15px rgba(169, 169, 169, 0.335),-2px -2px 15px rgba(169, 169, 169, 0.335);
    border: none;
}
.topNav li{list-style: none;}
.Nav-Container-Header{
    display: flex;
    background-color:azure;
    font-size: 5rem;
    padding: 3.5rem;
    flex-direction: row;
    max-height: 10vh;


}

.Nav-Container-Header > *{flex: 5 1 100%;align-self: center;}  
.Nav-Container-Header img{
    width:19rem;
    scale: 1.2;
    background:none;
    mix-blend-mode:multiply;
    align-self: self-start;
    cursor: pointer;
    

}
.Nav-Container-Header span .fi{
    font-size: 30px;
    cursor: pointer;
}
.Nav-Container-Header span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    
}
.Nav-Container-Header span li a{text-decoration: none;cursor: pointer;font-weight: 500;}
.Nav-Container-Header #user-buttons{display: flex; flex-direction: row;justify-content: center;margin-left: 20rem; }
.Nav-Container-Header #user-buttons > *{align-self: flex-end;flex: 1 1 50%;font-size: 3rem;}
.Nav-Container-Header #user-buttons :first-child{position: relative;}
.drop-down-menu{
    position: absolute;
    display:none;
    flex-direction: column;
    padding: 5px;
    border-radius: 10px;
    width: 40rem;
    height: 51rem;
    font-size: 6rem;
    left: 85%;
    border: 2px solid hsl(271, 76%, 53%);
    box-shadow: 2px 2px 1px hsl(271, 76%, 53%);
    z-index: 2;     
}
.drop-down-menu a{text-decoration: none;font-weight: 500;}
.drop-down-menu >*{margin-top: 5rem;}
.slider{display: none;margin-top: 15px;cursor: pointer;}
.prev, .next{
    font-size: 8rem;
    cursor: pointer;
    position: absolute;
    top: 29%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(20, 8, 8);
    font-weight: bold;
    transition: 0.2s ease-in;
    border: 0 3px 3px 0;
    user-select: none;
}
.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.fade{
    animation: fade;
    animation-duration: 1.5s;
}
.dot{
    cursor: pointer;
    height: 1vh;
    width: 2%;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 500px;
    display: inline-block;
    transition:background-color 0.6s ease ;
    transform: translateY(-20px);
}
.active, .dot:hover {
    background-color: #4a4545;
  }
  
.next{right: 0;border-radius: 3px 0 0 3px;}



@media all and (max-width: 1000px){
.Nav-Container-Header{flex-direction: row;flex-wrap: wrap;max-height:fit-content;}
.Nav-Container-Header span{flex: 1 1 40%;}
.Nav-Container-Header:first-child{flex-basis: 100%;}
.Nav-Container-Header #user-buttons{margin-left: 0;flex-direction: row; justify-content: center;text-align: center;}
.Nav-Container-Header :nth-child(1){flex-basis: 100%;align-self: center;}
.Nav-Container-Header :nth-child(6){flex-basis: 100%; align-self: center;}
.drop-down-menu{left: 25%;}
.prev,.next{
display: none;
}

}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
